<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/nav') %>

            <h1 class="title">
                Welcome to the inventary
            </h1>

            <form id="filterForm" action="/" method="GET">
                <h2>Categories</h2>
                <div class=" inputsFilter">
                    <div>
                        <input type="radio" name="filter" id="all" checked>
                        <label for="all">All</label>
                    </div>
                    <% for (let i=0; i < category.length; i++) { %>
                        <div>
                            <input type="radio" name="filter" id="<%= category[i].category_id %>"
                                name="<%= category[i].category_id %>" value="<%= category[i].category_id %>"
                                <%=filter==category[i].category_id ? "checked" : "" %>>
                            <label for="<%= category[i].category_id %>">
                                <%= category[i].category_name %>
                            </label>
                        </div>

                        <% } %>
                </div>

                <button class="filterBtn">filter</button>
            </form>

            <table>

                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Tools</th>
                </tr>

                <% for (let i=0; i < items.length; i++) { %>
                    <tr>
                        <td>
                            <%= items[i].item_name%>
                        </td>
                        <td>
                            <%= items[i].category_name%>
                        </td>
                        <td>
                            $<%= items[i].price%>
                        </td>

                        <td>
                            <div class="form-tools">
                                <a
                                    href="<%= `/updateItem?item_id=${items[i].item_id}&item_name=${items[i].item_name}&price=${items[i].price}&category_id=${items[i].category_id}`  %>"><button
                                        class="editBtn"></button></a>
                                <form action="/" method="POST"
                                    onsubmit="return confirm(`Do you really want to delete`)">
                                    <input type="hidden" name="item_id" value="<%= items[i].item_id %>">
                                    <button class="deleteBtn"></button>
                                </form>
                            </div>

                        </td>

                    </tr>
                    <% } %>

            </table>



    </body>

</html>